body {
    width: 450px;
    padding: 5px 5px;
}

#resultFlights {
    float:right;
    width: 300px;
    height: 500px;
    background-color: #abdde5;
    border-radius: 4px;
    padding: 3px 6px;
    border: 1px solid #0c5460;
    overflow-y: scroll;
}

.flightRaw .price {
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightcoral;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: lightgreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.header {
    height: 32px;
    width: 100%;
    /*border: 1px solid red;*/
    padding: 5px 10px;
    background-color: #1b4f6a;
    margin-top: -5px;
    margin-left: -5px;

}

.to {
    padding-left: 45px !important;
}
.head_strong {
    color: white;
}

#airport_from {
    background: url("img/bg.jpg") no-repeat;
    margin-left: -5px;

}
.form-group label{
    color: white;
    font-size: 18px;
    margin-bottom: 1px;
}

.to label{
    color: white;
    font-size: 18px;
    margin-bottom: 1px;
    /*margin-left: 100px;*/
    padding-left: 130px;
}


select:focus {
    background-color: blue;
    color: white;
}


.form-group input {
    width: 150px;
}

.stay input {
    width: 22px;
}

